<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout2}">
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div layout:fragment="content" th:remove="tag">

            <nav class="navbar navbar-expand-md bg-light">
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <i class="oi oi-caret-right"></i>
                            <span th:text="#{profissional.listar.label}"></span>
                        </li>
                    </ul>
                </div>
            </nav>
            
            <br /> <br /> <br />
            
            <h1 th:text="#{sidebar.titulo.profissional}" style="text-align:center;"></h1><br>

            <div class="container" id="listagem">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-sm">
                        <thead>
                            <tr>
                                <th th:text="#{profissional.name.label}"></th>
                                <th th:text="#{profissional.email.label}"></th>
                                <th th:text="#{profissional.especialidade.label}"></th>
                                <th th:text="#{profissional.curriculo.label}"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="profissional : ${profissionais}">
                                <td th:text="${profissional.nome}"></td>
                                <td th:text="${profissional.email}"></td>
                                <td th:text="${profissional.especialidade}"></td>
                                <td>
                                	<a th:href="${profissional.curriculo}" th:text="#{profissional.curriculo.arquivo}"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
